# CFG files
*.dot

# Cache files
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# fuzz data
rq2/fuzz-data/**
rq2/fuzz-result/**
rq2/esti-result/**

# taint analysis projects
taint-subjects/**
sra/taint-subjects/**

formatter/build/**
formatter/test_projects/**

# Our Fuzzer
fuzzer/.cache/**
fuzzer/AFLplusplus/**
fuzzer/build/**
fuzzer/exercises/**
fuzzer/fuzztastic/**
fuzzer/utils/**
fuzzer/subjects/**
fuzzer/compile_commands.json

fuzzer/sense/build/**